.main-container{
    border:4px solid black;
    width:345px;
    height:490x;
    margin-left:600px;
    margin-top:100px;
    border-radius:15px;
    /* background-color: white; */
}
.container1{
    background-color:black;
    position:fixed;
    width: 335px;
    height:40px;
    padding:5px;
    display:flex;
    color:white;
    position:absolute;
}
.child1{
    padding:10px;
    width:35px;
    height:100px;
    /* margin-left: 5px; */
}
.dp{
    margin-right:20px;
    margin-top: 7px;
    font-size: 24px;

}
.name{
    margin-top:8px;
    font-size: 18px;
}
.container2{
    background-color:white;
    width: 343px;
    height: 550px;
    border : 2px solid ;
    /* position:fixed; */
    overflow:scroll;
    scrollbar-width: none; 
}
.item1{
    background-color: white;
}
.p1{
    margin-top: 50px;
    font-size: 18px;
    color: black;
    text-align: center;
}
.right{
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    margin-right: 30px;
    gap: 10px;
    width: 200px;
}
.item2{
    color:white;
    padding:5px;
    border: 2px solid green;
    background-color: green;
    border-radius: 5px 5px 5px 5px;
}

.item4{
    color:white;
    padding:13px;
    border: 2px solid green;
    background-color: green;
    border-radius: 5px 5px 5px 5px;
    float:left;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 220px;
}
.item3{
    padding:45px;
    border: 2px solid;
    border-radius: 5px 5px 5px 5px;
}
.message{
    background-color:black;
    /* position:fixed; */
    width: 340px;
    height:30px;
    padding:5px;
    display:flex;
    color:white;
    position: absolute;
    bottom: 71px;
    left: 610px;
    border-radius: 9px;
}
.child2{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 5px;
    color: white;
}