<<<<<<< HEAD
/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color:rgb(214, 193, 208);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
nav {
  /* Drak gray color */
  background: #333; 
  /*text white in nav bar  */
  color: #fff; 
  /* Adds space inside the nav (top/bottom/left/right). 1rem ≈ 16px. */
  padding: 1rem;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.navbar a {
/* Targets <a> tags inside the navbar. */
  color: white;
/* Removes the underline from links. */
  text-decoration: none;
}

section {
/*  Adds inner space around content. */
  padding: 1rem;
  max-width: 800px;
  /* Centers the section horizontally. */
  margin: auto;
}

#Home {
  padding: 1rem;
  text-align: center;
}
=======
/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color:rgb(214, 193, 208);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
nav {
  /* Drak gray color */
  background: #333; 
  /*text white in nav bar  */
  color: #fff; 
  /* Adds space inside the nav (top/bottom/left/right). 1rem ≈ 16px. */
  padding: 1rem;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.navbar a {
/* Targets <a> tags inside the navbar. */
  color: white;
/* Removes the underline from links. */
  text-decoration: none;
}

section {
/*  Adds inner space around content. */
  padding: 1rem;
  max-width: 800px;
  /* Centers the section horizontally. */
  margin: auto;
}

#Home {
  padding: 1rem;
  text-align: center;
}
>>>>>>> 409bd44df7e109f83521288066cd1ce45cd2cba5
